In [2]:
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta

# Simulate data for 30 days (1 month)
date_range = pd.date_range(start='2024-11-01', periods=30, freq='D')

# Simulate energy consumption data for different departments
departments = ['Lighting', 'HVAC', 'Appliances', 'Office', 'Warehouse']
energy_data = []

# Random seed for reproducibility
random.seed(42)

for date in date_range:
    for department in departments:
        # Random energy consumption values (kWh)
        energy_consumption = random.uniform(50, 500)  # Simulating consumption between 50kWh and 500kWh
        energy_data.append([date, department, energy_consumption])

# Convert to DataFrame
df_energy = pd.DataFrame(energy_data, columns=['Date', 'Department', 'EnergyConsumption(kWh)'])

# Save to CSV file
df_energy.to_csv('ikea_energy_consumption.csv', index=False)

In [12]:
import pandas as pd

# Path to your CSV file (update this path if necessary)
file_path = '/System/Volumes/Data/Users/navneethramachandran/sustainabilityproject/ikea_energy_consumption.csv'  # Adjust path if needed

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
df.head()

         Date  Department  EnergyConsumption(kWh)
0  2024-11-01    Lighting              337.742059
1  2024-11-01        HVAC               61.254840
2  2024-11-01  Appliances              173.763193
3  2024-11-01      Office              150.444832
4  2024-11-01   Warehouse              381.412046

In [14]:
# Check the structure of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    150 non-null    object
 1   Department              150 non-null    object
 2   EnergyConsumption(kWh)  150 non-null    float64
dtypes: float64(1), object(2)
memory usage: 3.6+ KB

In [16]:
# Check for missing values in the dataset
df.isnull().sum()

Date                      0
Department                0
EnergyConsumption(kWh)    0
dtype: int64